@font-face {
  font-family: 'PxGrotesk';
  src: url('/public/fonts/Px-Grotesk-Light.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'PxGrotesk';
  src: url('/public/fonts/Px-Grotesk-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PxGrotesk';
  src: url('/public/fonts/Px-Grotesk-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

html {
  font-family: PxGrotesk, system-ui, sans-serif;
}

body {
  margin: 0;
}

.styled-table__actions .ant-dropdown-menu {
  padding: 8px 5px !important;
}

.styled-table__actions .ant-dropdown-menu .ant-dropdown-menu-item {
  padding: 0 !important;
}

.styled-table__actions .ant-dropdown-menu .ant-dropdown-menu-item .styled-table__action-item {
  margin: 0;
  padding: 5px 12px !important;
}
.color-link {
  color: #1677ff;
}

.color-error {
  color: #ff4d4f;
}

.ant-form .ant-upload-select {
  width: 132px !important;
  height: 132px !important;
}

.ant-form .upload-image--large .ant-upload-select {
  width: 150px !important;
  height: 150px !important;
}

.libra-navbar-sub-menu .ant-menu-item:has(.active-link) {
  color: #1677ff;
  background-color: transparent;
}

.libra-navbar-sub-menu .ant-menu-item:has(.active-link)::after {
  border-width: 2px;
  border-bottom-color: #1677ff;
}

.libra-navbar-sub-menu .ant-menu-item:has(.active-link):hover {
  color: #1677ff !important;
}

.ant-spin-text {
  font-size: 15px !important;
}

.ant-spin-lg .ant-spin-text {
  font-size: 17px !important;
}

.relative-container {
  position: relative !important;
}

.ant-table-thead > tr > th,
.ant-table-thead > tr > td {
  background-color: #fff !important;
}

.charge-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 400px;
}

.ant-avatar > img {
  object-fit: contain !important;
}
